<h1>Albums</h1>

<%= link_to 'most recent', {:controller => "albums", :action => "index", :filter => "mostRecent" } %>


<ul>
  <% @albums.each do |album| %>
  <li><%= link_to album.name, album_path(album)%></li>
  <% end %>
</ul>

<hr>
<%= link_to "New Album", new_album_path %>
